<%= @sorted.count %> Results <br>

<% @sorted.each do |leech| %>
<ul>
  <li>
    Name: <%= leech["name"] %><br>
    Role: <%= leech["role"] %><br>
    Part: <%= leech["party"] %><br>
    District: <%= leech["district"] %><br>
  </li>
</ul>
<% end %>
